body {
    font-family: 'Roboto Mono', monospace;
    color: #003cad;
}

h1 {
    font-size: 52px;
    font-weight: bold;
    color: #ff6c9f;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    align-items: center;
    text-align: center;
}

h3 {
    font-size: 22px;
    font-weight: bold;
    color: #ff6c9f;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 22px;
    color: #ff6c9f;
    font-weight: bold;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #003cad;
}

a:hover {
    color: #ff6c9f;
}

section {
    display: flex;
    min-height: 100vh;
    align-items: center;
}


button {
    border: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    background-color: #ff6c9f;
}

button:hover {
    border: none;
    color: #ffffff;
    background-color: #003cad;
}

.container {
    width: 100%;
}


/* Menu */


.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background: white;
    width: 100%;
    transition: all 1s ease;
}

.headerMenu {
    display: flex;
    align-items: center;
}

.headerMenu img {
    content: "";
    display: inline-block;
    width: 90px;
    height: auto;
}

.tituloMenu{
    font-weight: bold;
    font-size: 16px;
}

.listaMenu {
    display: flex;
    text-decoration: none;
}

.listaMenuItem {
    text-decoration: none;
    margin-right: 30px;
}

.email {
    font-weight: bold;
}

/* Scroll */

.scrol{
    height: 130px;
}


/* Header  */

.encabezadoDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.linksEncabezado {
    display: flex;
    align-items: center;
    margin: 50px;
}

.linksEncabezadoItem {
    margin: 30px;
    font-size: 16px;
    text-align: center;

}

.linksEncabezadoItem img {
    display: inline-block;
    width: 100px;
    height: auto;
}

.redes {
    width: 10px;
}

.botonCV {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    background-color: #ff6c9f;
    border-radius: 5px;
}

.botonCV:hover {
    color: #ffffff;
    background-color: #003cad;
}

.imagenEncabezado {
    width: auto;
    height: 300px;
    align-items: center;
}

/* Sobre Mi */

.sobreMi {
    background-color: #fbeff7;
}

.containerSobreMi {
    display: flex;
    align-items: center;
    gap: 20px;
}

.imgSobreMi {
    width: auto;
    height: 300px;
}

/* Skills y Hobbies */

.skills {
    flex-direction: column;
    align-items: center;
}

.tituloSkills {
    text-align: center;
}

.skillsBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
	background-color: whitesmoke;
    border-radius: 20px;
	text-align: center;
	transition: .5s;
	box-shadow: 2px 2px 2px #CCC;
	position: relative;
    overflow: hidden;
    margin: 10px;
}

.skillsBox img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.ulSkills { 
    align-items: center;
}

.lenguajes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.herramientas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hobbies {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Formacion */

.formacion {
    background-color: #fbeff7;
    flex-direction: column;
    align-items: center;
}

.cursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: center;
}

.cursosBox {
    display: flex;
    width: 30%;
    justify-content: space-between;
    
}

.cursosLista {
    width: 268px;
    margin-bottom: 5%;
}


.cursosItemImagen {
    width: 268px;
    height: 186px;
	background-color: white;
    border-radius: 20px;
	text-align: center;
	margin: 1%;
	transition: .5s;
	box-shadow: 2px 2px 2px #CCC;
	position: relative;
    margin-bottom: 6%;
    display:flex;
    justify-content: center;
    align-items: center;
   
    
}

.imagenCurso {
    width: 80%;
    height: auto;
}

/* Proyectos */

.proyectos {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experiencie__box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
}

.experience__img {
    width: 500px;
    height: auto;
    margin-bottom: 2%;
}

.experience__info {
    width: 40%;
    padding: 2%;
}

.iconosProyecto {
    margin-top: 4%;
    margin-bottom: 2%;
}

.iconPr {
    width: 60px;
}
/* Contacto */

.contacto {
    display: flex;
    background: url("../images/Contacto.jpg");
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.formularioContacto {
    display: flex;
    align-items: center;
    text-align: center;
}

.formularioImagenItem {
    width: 100%;
    height: auto;
}

.formcontato__text {
    color: black;
}

.formcontato__form {
    display: flex;
    flex-direction: column;
}

/* Rodapie */

.rodapie {
    margin: 20px;
    text-align: center;
    color: #ff6c9f;
    font-weight: bold;
}